<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
    <form method="POST" action="/signup">
        <label for="username">Username: </label><input type="text" name="username" />
        <br/>
        <label for="name">Name: </label><input type="text" name="name" />
        <br/>
        <label for="password">Password: </label><input type="password" name="password" />
        <br/>
        <button formaction="/signup">Sign Up</button>
        <button formaction="/signup/feedfactory">Sign Up for feedfactory</button>
    </form>
</body>
</html>
<!-- https://velog.io/@mainfn/Node.js-express%EB%A1%9C-%ED%9A%8C%EC%9B%90%EA%B0%80%EC%9E%85%EB%A1%9C%EA%B7%B8%EC%9D%B8-%EA%B0%84%EB%8B%A8-%EA%B5%AC%ED%98%84 -->