<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
    <h3>Not Logged In</h3>
  </body>
</html>
